@import url(//fonts.googleapis.com/css?family=Lato:300,400italic);
* {
    font-family:'Lato';
}
body {
    background: #cca264;
}

.container-fluid {
    background:white;
    max-width:800px;
    margin:60px auto;
    border:1px solid #a195a6;
    border-radius:25px;
    padding:0px 50px;
    padding-bottom:50px;
    -webkit-box-shadow: 10px 10px 64px -9px rgba(165,139,176,1);
    -moz-box-shadow: 10px 10px 64px -9px rgba(165,139,176,1);
    box-shadow: 10px 10px 64px -9px rgba(165,139,176,1);
}

#root h1 {
    font-weight:300;
    padding-bottom:15px;
    border-bottom:1px dotted #333;
}

#root form {
    font-size: 18px;
}

#root input, textarea {
    padding:10px;
    margin:10px;
    font-size:18px;
}

textarea {
    max-height:200px;
    border-radius:5px;
    border-color:#ccc;
}

h1 {
    padding-top:40px !important;;
}

button {
    font-size:18px;
    padding:10px;
    margin:60px 10px;
    margin-top:0px;
}

